pre.json
{ 
background: #EFEFFF; 
border: 1px solid #C0C0D0;
display: table;
}

pre.request
{ 
background: LightSalmon; 
border: 1px solid #C0C0D0;
display: table;
min-width: 400px;
}

pre.response
{ 
background: PaleGreen; 
border: 1px solid #C0C0D0;
display: table;
min-width: 400px;
}

pre.cpp
{ 
background-color: #FFFFCC;
padding-top: 8px; 
padding-right: 8px; 
padding-bottom: 8px; 
padding-left: 8px; 
border: #000000; 
border-style: dashed; 
border-top-width: 1px; 
border-right-width: 1px; 
border-bottom-width: 1px; 
border-left-width: 1px;
display: block;
}

.keyword{color:rgb(0,0,255);}
.comment{color:rgb(0,128,0);}
.preprocessor{color:rgb(128,0,0);}
.text{color:rgb(0,192,0);}







